 <div class="container" style="width: 700px; margin-top: 50px; ">
    <div class="main-title">
        <h2>阿里云存储参数设置</h2>
    </div>
     <div class="container-fluid main-body">
         <form class="form-ajax form-horizontal" method="post" action="/api/buckets">
             <input type="hidden" name="[0].key" value="id" />
             <input type="hidden" name="[0].value" value="{{id}}" />
             <input type="hidden" name="[1].key" value="type" />
             <input type="hidden" name="[1].value" value="oss" />
             <div class="form-group form-group-sm">
                 <label class="col-sm-3 control-label" for="sitename">网站名称</label>
                 <div class="col-sm-9">
                     <input type="hidden" name="[2].key" value="sitename" />
                     <input type="text" class="form-control" id="sitename" name="[2].value" value="{{sitename}}">
                 </div>
             </div>
             <div class="form-group form-group-sm">
                 <label class="col-sm-3 control-label" for="url">网站地址</label>
                 <div class="col-sm-9">
                     <input type="hidden" name="[3].key" value="url" />
                     <input type="text" class="form-control" id="url" name="[3].value" value="{{url}}">
                 </div>
             </div>

             <div class="form-group form-group-sm">
                 <label class="col-sm-3 control-label" for="bucket">bucket</label>
                 <div class="col-sm-9">
                     <input type="hidden" name="[4].key" value="bucket" />
                     <input type="text" class="form-control" id="bucket" name="[4].value" value="{{bucket}}">
                 </div>
             </div>
             <input type="hidden" name="[5].key" value="APPID" />
             <input type="hidden" name="[5].value" value="0" />
             <div class="form-group form-group-sm">
                 <label class="col-sm-3 control-label" for="SecretId">AccessKey ID</label>
                 <div class="col-sm-9">
                     <input type="hidden" name="[6].key" value="SecretId" />
                     <input type="text" class="form-control" id="SecretId" name="[6].value" value="{{SecretId}}">
                 </div>
             </div>
             <div class="form-group form-group-sm">
                 <label class="col-sm-3 control-label" for="SecretKey">Access Key Secret</label>
                 <div class="col-sm-9">
                     <input type="hidden" name="[7].key" value="SecretKey" />
                     <input type="text" class="form-control" id="SecretKey" name="[7].value" value="{{SecretKey}}">
                 </div>
             </div>
             <div class="form-group form-group-sm">
                 <label class="col-sm-3 control-label" for="Region">区域</label>
                 <div class="col-sm-9">
                     <input type="hidden" name="[8].key" value="Region" />
                     <input type="text" class="form-control" id="Region" name="[8].value" value="{{Region}}">
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-offset-3 col-sm-9">
                     <button type="submit" class="btn btn-primary">保存</button>
                     <a href="#/bucket/list" class="btn btn-default">返回</a>
                 </div>
             </div>
         </form>
     </div>
</div>